.php_cs.cache
node_modules/
vendor/

# JetBrains IDE
# NOTE: Handled directly by .idea/.gitignore

# Vagrant Metadata
.vagrant/

# Any and all .env files!
**/*.env

env/*
!env/README.md

.code-server/

