# Since we are using ./plugins/<plugin> as our working source folder during development, we need to make certain that no
# sensitive or reserved files/folders make it into source control.

# UCRM Plugin Reserved Files
**/src/data/plugin.log
**/src/ucrm.json
**/src/.ucrm*

# Development-Only Folders
**/src/vendor/
**/www/

# Temporary for testing!
testing/